<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574197018741-gs04uo8v3u6olqefepdgcctcvpbo2a2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574197018741-gs04uo8v3u6olqefepdgcctcvpbo2a2s</string>
	<key>API_KEY</key>
	<string>AIzaSyAyLpSg_YP3T_faFJ8HD7p6SCUKHmur2l0</string>
	<key>GCM_SENDER_ID</key>
	<string>574197018741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Amaywe.AFP4</string>
	<key>PROJECT_ID</key>
	<string>afp4-b2842</string>
	<key>STORAGE_BUCKET</key>
	<string>afp4-b2842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574197018741:ios:0419216ca255ef4fa5c83c</string>
</dict>
</plist>